#{extends 'main.html' /}
#{set title:'LeaderBoard' /}

<nav class="ui purple inverted menu">
  <a class="ui item" href="/home"><i class="green home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class="green users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class="green user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class="green table icon"></i>LeaderBoard</a>
  <a class="ui item" href="/logout"><i class="green sign out icon"></i>Logout</a>
</nav>
<section class="ui segment">
  <table class="ui green inverted table segment">
    <h1>Social LeaderBoard</h1>
    <thead>
      <tr>
        <th>Name</th>
        <th>Inbox</th>
        <th>Outbox</th>
        <th>Friend</th>
      </tr>
    </thead>
    <tbody>
      #{list items: users, as:'user'}
      <tr>
        <td>${user.firstName} ${user.lastName}</td>
        <td>${user.inbox.size()}</td>
        <td>${user.outbox.size()}</td>
        <td>${user.friendships.size()}</td>
      </tr>
      #{/list} 
    </tbody>
  </table>
  <a class="small ui purple button" href="/leaderboard"> Most Social </a>
  <a class="small ui purple button" href="/leaderBoard/talkative">  Most Talkative </a>
</section>