#{extends 'main.html' /}
#{set title:'Spacebook' /}

<nav class="ui purple inverted menu">   
  <a class="ui active item" href="/home"><i class="green home icon"></i>Back to Home</a> 
</nav>
<section class="ui raised segment">
  <div class="ui small header"> ${user.firstName} ${user.lastName}'s Profile</div>
  <p>${user.nationality}</p>
  <p> ${user.statusText} </p>
  <section class="ui  two column grid segment">
    <div class="row">
    <div class="column">
      <div class="ui medium image">
        <img src="/profile/getpicture/${user.id}"/> 
      </div>
      <form action="/publicprofile/sendmessage/${user.id}" class="ui form" method="post">
        <div class="field">
          <textarea name="messageText"></textarea>
        </div>
        <button  class="ui fluid green labeled submit icon button">
        <i class="icon edit"></i>Send
        </button>
      </form>
    </div>
    <div class="column">
      <h2>Messages</h2>
      <hr>
      <ul>
        #{list items:user.inbox, as:'message'}
        <li> 
          ${message.from.firstName} says...  ${message.messageText}
        </li>
        #{/list}
      </ul>
    </div>
  </section>
</section>