#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui purple inverted menu">
  <a class="ui item" href="/home"><i class="green home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class="green users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class="green user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class="green table icon"></i>LeaderBoard</a>
  <a class="ui item" href="/logout"><i class="green sign out icon"></i>Logout</a>
</nav>
<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
  <div class="ui row">
  <div class="ui column">
    <h2>Friends (${user.friendships.size()})</h2>
    <div class="ui list">
      #{list items:user.friendships, as:'friendship'}
      <div class="item">
        <i class="right triangle icon"></i>
        <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
        (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
      </div>
      #{/list}
    </div>
  </div>
  <div class="column">
    <h2>Messages</h2>
    #{list items:conversations, as:'conversations'}
    <table class="ui inverted green table segment">
      <thead>
        <tr>
          <th>Sender Name</th>
          <th>Message</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        #{list items:conversations, as:'message'}
        <tr>
          <td><a href="/publicprofile/${message.from.id}">${message.from.firstName}</a></td>
          <td>${message.messageText}</td>
          <td>
            <img class="ui avatar image" src ="/profile/getpicture/${message.from.id}">
          </td>
        </tr>
        #{/list}
      </tbody>
    </table>
    #{/list}
    <a class="small ui purple button" href="/home">                By Date </a>
    <a class="small ui purple button" href="/home/byuser">         By User </a>
    <a class="small ui purple button" href="/home/byconversation"> By Conversation </a>
  </div>
</section>
