#{extends 'main.html' /}
#{set title:'Profile' /}

<nav class="ui purple inverted menu">
  <a class="ui item" href="/home"><i class="green home icon"></i>Home</a>
  <a class="ui item" href="/members"><i class="green users icon"></i>Members</a>
  <a class="ui active item" href="/profile"><i class="green user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class="green table icon"></i>LeaderBoard</a>
  <a class="ui item" href="/logout"><i class="green sign out icon"></i>Logout</a>
</nav>
<section class="ui segment">
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2 class="ui header">${user.firstName} ${user.lastName}'s Profile</h2>
        <p>Email: ${user.email}</p>
        <p>Age: ${user.age}</p>
        <p>Nationality: ${user.nationality}</p>
        <p>
          <img src="/profile/getpicture/${user.id}">
        </p>
        <form action="/profile/uploadpicture/${user.id}" method="post" enctype="multipart/form-data">    
          <input type="file" name="picture" /> 
          <input type="submit" name="submit" value="upload" />
        </form>
      </div>
      <div class="ui column form segment">
        <h2 class="ui small header"> Status</h2>
        <div class="ui large purple block label">
          <h3> ${user.statusText} </h3>
        </div>
        <hr>
        <form action="/profile/changestatus" method="post">
          <h4 class="ui inverted purple block header">Enter Status</h4>
          <textarea class="ui field" name="profiletext"> </textarea>
          <input class="ui green button" type="submit" name="submit" value="Change" />
        </form>
        <br>
        <h4 class="ui inverted purple block header">Change Details</h4>
        <form action="/profile/changename" method="post">
          <div class="two fields">
            <div class="field">
              <input placeholder="First Name" type="text" name="firstName">
            </div>
            <div class="field">
              <input placeholder="Last Name" type="text" name="lastName">
            </div>
            <div>
              <input class="ui inverted small green button" type="submit" name="submit" value="Change" />
            </div>
          </div>
        </form>
        <br>
        <form action="/profile/changeage" method="post">
          <div class="ui column"> 
            <input placeholder="Age" type="text" name="age">
            <br>
            <br>
            <input class="ui inverted small green button" type="submit" name="submit" value="Change" />
          </div>
        </form>
        <br>
        <form action="/profile/changenationality" method="post">
          <div class="ui column"> 
            <input placeholder="Nationality" type="text" name="nationality">
            <br>
            <br>
            <input class="ui inverted small green button" type="submit" name="submit" value="Change" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>