#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui purple inverted menu">
  <a class="ui item" href="/home">Home</a>
  <a class="ui item" href="/members">Members</a>
  <a class="ui item" href="/profile">Profile</a>
  <a class="ui item" href="/login">Logout</a>
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Homer's Home Page</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends</h2>
        <div class="ui list">
          <div class="item">
            <i class="right triangle icon"></i> <a href="/publicprofile/marge">marge</a>, (<a href="/home/drop/marge">drop</a>)
          </div>
          <div class="item">
            <i class="right triangle icon"></i>  <a href="/publicprofile/lisa">lisa</a>, (<a href="/home/drop/lisa">drop</a>)
          </div>
          <div class="item">
            <i class="right triangle icon"></i>  <a href="/publicprofile/bart">bart</a>, (<a href="/home/drop/bart">drop</a>)
        </div>
        <div class="item">
            <i class="right triangle icon"></i>  <a href="/publicprofile/maggie">maggie</a>, (<a href="/home/drop/maggie">drop</a>)
        </div>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
        <div class="ui list">
          <div class="item">
            <i class="right triangle icon"></i> marge says..."Hey there Homer, when are you going to work?"
          </div>
          <div class="item">
            <i class="right triangle icon"></i> lisa says..."Move off the couch dad!"
          </div>
        </div>
      </div>
    </div>
  </div>
</section>