#{extends 'main.html' /}
#{set title:'Members' /}

<section class="ui segment">
  <h2 class="ui header">SpaceBook's Members</h2>
  <div class="ui list">
    #{list items:users, as:'user'}
      <div class="item">
        <i class="right triangle icon"></i> ${user.firstName} ${user.lastName} : ${user.statusText}
      </div>
    #{/list}
  </div>
</section> 