#{extends 'main.html' /}
#{set title:'Members' /}

<nav class="ui purple inverted menu">
  <a class="ui item" href="/home"><i class="green home icon"></i>Home</a>
  <a class="ui active item" href="/members"><i class="green users icon"></i>Members</a>
  <a class="ui item" href="/profile"><i class="green user icon"></i>Profile</a>
  <a class="ui item" href="/leaderboard"><i class="green table icon"></i>LeaderBoard</a>
  <a class="ui item" href="/logout"><i class="green sign out icon"></i>Logout</a>
</nav>
<section class="ui segment">
  <div class="ui two column grid segment">
  <div class="ui column">
    <h2 class="ui header">SpaceBook's Members</h2>
    <div class="ui list">
      #{list items:users, as:'user'}
      <div class="item">
        <i class="right triangle icon"></i> ${user.firstName} ${user.lastName} : ${user.statusText}
        <a href="/members/follow/${user.id}"> (follow) </a>
      </div>
      #{/list}
    </div>
  </div>
  <div class="column">
    <img width=90% src="/public/images/members.gif"></img>
  </div>
</section>