#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui purple inverted menu">
  <a class="item" href="/signup"><i class="green rocket icon"></i> Signup  </a>
  <a class="item" href="/login"><i class="green sign in icon"></i>  Login   </a>
</nav> 

<section class="ui segment">
  <p> Signup or Log in to the Spacebook Service </p>
</section>
<div>
  <img width=100% src="/public/images/space.jpg"></img>
</div>
