#{extends 'main.html' /}
#{set title:'Signup for Spacebook' /}

<nav class="ui purple inverted menu">
  <a class="active item" href="/signup"><i class="green rocket icon"></i> Signup  </a>
  <a class="item" href="/login"><i class="green sign in icon"></i>  Login   </a>
</nav>
<section class="ui segment">
  <p> Sign up here ... </p>
</section>
<section class="ui form segment">
  <form action="/register" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text" name="firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" type="text" name="lastName">
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="field">
      <label>Age</label>
      <input placeholder="Age" type="number" name="age">
    </div>
    <div class="field">
      <label>Nationality</label>
      <input placeholder="Nationality" type="text" name="nationality">
    </div>
    <button class="ui green submit button">Submit</button>
  </form>
</section>